{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.skylize/poj {:git/sha
                               "0a7d394c5f0c712dd506609eab33376003456862"}}
 :aliases
 {:dev {:extra-deps {io.github.skylize/poj {:local/root "/home/sky/dev/poj"}}
        :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}

  :test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.5"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}}}
